.Button {
  border: 1px solid black;
  color: white;
  font-size: 30px;
  cursor: pointer;
  background-color: green;
  height: 250px;
  width: 100%;
}

.HidingButton:hover {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/hide_the_cat.jpg");
}

.ShufflingButton:hover {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/kot_boris.jpg");
}

.column {
  float: left;
  width: 20%;
}

.row::after {
  content: "";
  clear: both;
}

img {
  width: 100%;
  display: table;
  height: 250px;
}
